
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/ProjectEvaluation/prototipopraticaunidades6-8_dgv_jaf_vrm.metadata.v6.1
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/DesignTimeBuild/.dtbcache.v2
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/ProjectEvaluation/prototipopraticaunidades6-8_dgv_jaf_vrm.projects.v6.1
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/1685d774-693a-42d4-87dd-2fda7cc84d8d.vsidx
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/b0e97861-a986-4212-b7eb-f235c33f3a62.vsidx
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/read.lock
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/v17/.futdcache.v2
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/v17/.suo
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.AssemblyReference.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.designer.runtimeconfig.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/ProjectEvaluation/prototipopraticaunidades6-8_dgv_jaf_vrm.metadata.v6.1
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/ProjectEvaluation/prototipopraticaunidades6-8_dgv_jaf_vrm.projects.v6.1
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/DesignTimeBuild/.dtbcache.v2
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/14726122-e68a-4655-a1c1-5448b54a5ea2.vsidx
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/1685d774-693a-42d4-87dd-2fda7cc84d8d.vsidx
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/3f97655c-b296-4a53-9a2e-e783e50805ba.vsidx
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/FileContentIndex/read.lock
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/v17/.futdcache.v2
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/.vs/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/v17/.suo
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/bin/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.deps.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/bin/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.dll
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/bin/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.exe
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/bin/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.pdb
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/bin/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.runtimeconfig.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/apphost.exe
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/MainWindow.baml
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.AssemblyReference.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.CoreCompileInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.FileListAbsolute.txt
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.designer.deps.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.designer.runtimeconfig.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.dll
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.g.resources
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.genruntimeconfig.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.pdb
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_0pjdcq2k_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_0pjdcq2k_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_0pjdcq2k_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_0pjdcq2k_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_0pjdcq2k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_2imanjzh_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_2imanjzh_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_2imanjzh_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_2imanjzh_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_2imanjzh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_bbxjcbkm_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_bbxjcbkm_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_bbxjcbkm_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_bbxjcbkm_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_bbxjcbkm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_clvzhjgl_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_clvzhjgl_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_clvzhjgl_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_clvzhjgl_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_clvzhjgl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_e3vt4il3_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_e3vt4il3_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_e3vt4il3_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_e3vt4il3_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_e3vt4il3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_g5gbhpfy_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_g5gbhpfy_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_g5gbhpfy_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_g5gbhpfy_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_g5gbhpfy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_ggfubza3_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_ggfubza3_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_ggfubza3_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_ggfubza3_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_ggfubza3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_MarkupCompile.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_MarkupCompile.i.lref
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_MarkupCompile.i.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_MarkupCompile.lref
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_rcvs4vzo_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_rcvs4vzo_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_rcvs4vzo_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_rcvs4vzo_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_rcvs4vzo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_s0nuetmu_wpftmp.AssemblyInfo.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_s0nuetmu_wpftmp.AssemblyInfoInputs.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_s0nuetmu_wpftmp.assets.cache
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_s0nuetmu_wpftmp.csproj.BuildWithSkipAnalyzers
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/PrototipoPraticaUnidades6-8_DGV_JAF_VRM_s0nuetmu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/ref/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.dll
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/refint/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.dll
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/Window1.baml
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.nuget.dgspec.json
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.nuget.g.props
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.nuget.g.targets
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM/PrototipoPraticaUnidades6-8_DGV_JAF_VRM.csproj.user
